<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="section-title text-center">
                <h2>Kategorilerimiz</h2>
            </div>
            </div>
            <div class="categories__slider owl-carousel">                
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://supstranger.com/media/blog/ithal-meyveler.jpg">
                        <h5><a href="#">Meyveler</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://istanbulalerjimerkezi.com.tr/wp-content/uploads/2021/09/Mevsimine-Gore-Meyve-Ve-Sebzeler.jpg">
                        <h5><a href="#">Sebzeler</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://kalecafe.com/wp-content/uploads/2019/06/kale-kafe-vitamin-bar.jpg">
                        <h5><a href="#">İçecekler</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://image.posta.com.tr/i/posta/75/750x0/62459765e4bfdc15483d1fa4.jpg">
                        <h5><a href="#">Tatlılar</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://baglar.com.tr/dosyalar/urun/19_1.jpg?m=1384628212">
                        <h5><a href="#">Tuzlular</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://tasfirin.net/resimler/urunler/190.jpg">
                        <h5><a href="#">Kahvaltılıklar</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://www.fibex.com.tr/upload/sectors/et-ve-et-urunleri/et-ve-et-urunleri_9513.jpg">
                        <h5><a href="#">Et Ürünleri</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://i.lezzet.com.tr/images-xxlarge-secondary/kabuklu-deniz-urunleri-nelerdir-c08848fc-46ab-48fb-b697-d73c34d7ac88">
                        <h5><a href="#">Deniz Ürünleri</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://i.lezzet.com.tr/images-xxlarge-secondary/sut-urunleri-hakkinda-bilmeniz-gereken-her-sey-4c834528-0866-429d-9914-47f86af78379.jpg">
                        <h5><a href="#">Süt Ürünleri</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://cdn.jwplayer.com/v2/media/Ny6oGnz7/poster.jpg?width=1280">
                        <h5><a href="#">Atıştırmalıklar</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://blog.korayspor.com/wp-content/uploads/2023/02/Tahil-Yerine-Neler-Tuketebiliriz.jpg">
                        <h5><a href="#">Tahıllar</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://iasbh.tmgrup.com.tr/c57bb5/752/395/0/58/724/438?u=https://isbh.tmgrup.com.tr/sbh/2025/06/26/sos-cesitleri-nelerdir-dunyaca-unlu-en-populer-soslar-ve-isimleri-e1-1750943608946.jpg">
                        <h5><a href="#">Soslar</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://www.diyetisyenemreuzun.com/wp-content/uploads/2025/03/2051-1-960x545.jpg">
                        <h5><a href="#">Kuru Yemişler</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://i.lezzet.com.tr/images-xxlarge-secondary/kilerinizden-eksik-olmamasi-gereken-10-konserve-73edec38-0bec-4692-98ba-afe14a0eb51d.jpg">
                        <h5><a href="#">Konserveler</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="https://dekoratif.dyo.com.tr/uploads/2023/11/dyo--48.jpg">
                        <h5><a href="#">Baharatlar</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
